<!-- <p>
  my-ddcomponent works!
</p> -->
<form [formGroup]="myForm" (ngSubmit) = "onSubmit()">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" formControlName="name" 
        >
        <div class="error" *ngIf="!myForm.controls['name'].valid">
         Required!
       </div>
    </div>
    <!-- <div *ngIf="!myForm.controls['name'].valid">Required</div> -->
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" id="email" formControlName="email">
        <div class="error" *ngIf="!myForm.controls['email'].valid">
          Required!
        </div>
    </div>
    <div class="form-group">
        <label for="post">Post:</label>
        <textarea class="form-control" rows="5" id="post" formControlName="post"></textarea>

        <!-- <input type="text" class="form-control" id="post" formControlName="post"> -->
        <div [ngClass]="error" *ngIf="!myForm.controls['post'].valid">
          Minimum length 10
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
    <button type="button" class="btn btn-default" (click)="onGetData()">Get Data</button>
</form>

